.review{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &_feedback{
        margin-top: 50px;
        width: 1350px;
        display: flex;
        justify-content: space-between;
        &_window{
            width: 490px;
            height: 186px;
            box-shadow: 0px 4px 4px rgba(15, 60, 218, 0.25);
            display: flex;
            align-items: center;
            background-color: $white;
            img{
                margin-left: 20px;
                width: 126px;
                height: 126px;
                border: $blue 2px solid;
                border-radius: 100%;
            }
            p{
                
                margin-left: 15px;
                text-align: center;
                width: 250px;
                font-size: 15px;
            }
            h4{
                margin-left: 15px;
                font-family: $opensans;
                font-weight: 700;
            }
        }
    }
}